@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    font-family: 'Mozilla Headline', 'Source Code Pro', 'Poppins';
    background-color: #3f3f3f;
}
.topbar {
    a {
        text-decoration: none;
        color: #FFFFFF;
        display: block;
        text-align: center;
        padding: 7px;
        font-family: 'Source Code Pro';
        font-size: 2em;
    }
    ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    }
    li {
        float: left;
    }
}
.logo {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    display: block;

    h1 {
        background-color: #42a500;
        display: block;
        margin: 0px;
        padding: 0x;
        font-size: 3em;
    }
}
.title {
    color: lime;
    font-family: 'Poppins';
    text-align: center;
    padding: 5px;
    margin: 3px;
    font-size: 3.5em;
}
.box {
    border: 2px, #42a500, solid;
    border-radius: 4px;
    padding: 0px;
    color: aliceblue;
    text-align: center;
    margin: 0px;
    font-size: 2em;

    a {
        text-decoration: none;
        color: #42a500;
        border: 3px, solid, #FFFFFF;
        border-radius: 15px;
        display: block;
        margin-left: 200px;
        margin-right: 200px; 
        margin-bottom: 25px;

    }
    a:hover {
        color: #000000;
        background-color: #FFFFFF;
    }
}