@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #030618;
    font-family: 'Roboto', 'Mozilla Text';
    display: grid;
    grid-template-columns: auto 1fr;
}
.paragraph {
    p {
        font-family: 'Roboto';
        color: #FFFFFF;
        text-align: left;
    }
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 35px;
    h3 {
        font-size: 1.5em;
        color: #FFFFFF;

    }
}
.title {
    font-family: 'Mozilla Text';
    color: #42a500;
    text-align: center;
    font-size: 1.75em;
}
* {
    margin: 0;
    padding: 0px;
}
.line {
    border: 0.1px, solid, #FFFFFF;
    height: 3px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    border-right: 1px, solid, #ffffff;

    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;

}
#sidebar.close {
    padding: 5px;
    width: 60px;
    overflow: hidden;
    text-wrap: nowrap;
}
#sidebar ul {
    list-style: none;
}
#sidebar > ul > :first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    .logo {
        font-weight: 600;
        color: #42a500;
        font-size: 2em;;
    }
}
#sidebar a, #sidebar .dropdown-btn, #sidebar .logo {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Mozilla Text';
    display: flex;
    align-items: center;
    gap: 0.75em;
}
.dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    font: inherit;
    cursor: pointer;
    border: none;
}
#sidebar svg {
    flex-shrink: 0;
    fill: #FFFFFF;
}
#sidebar a span, #sidebar .dropdown-btn span{
    flex-grow: 1;
}
#sidebar a:hover, #sidebar .dropdown-btn:hover {
    background-color: #1d2136;
}
#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 250ms ease-in-out;

    > div {
        overflow: hidden;
    }
}
#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}
.rotate svg:last-child {
    rotate: -180deg;
}
#sidebar .sub-menu a {
    padding-left: 1em;
}
#toggle-btn {
    margin-left: auto;
    padding: 0.5em;
    border: none;
    border-radius: 5em;
    background: none;
    cursor: pointer;

    svg {
        transition: rotate 150ms ease;
    }
}
#toggle-btn:hover {
    color: #1d2136;
}